.cardteam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem auto;
  max-width: 540px;
  cursor: pointer;
}

.phototeam {
  width: 190px;
  height: 150px;
  border-radius: 12px;
}


